
<%= form_for(@artist, :html => {:multipart => true}) do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :avatar %>
  <%= f.cl_image_upload :avatar %>
</p>

<p>
  <%= f.label :dob %>
  <%= f.date_field :dob %>
</p>

<p>
  <%= f.label :location %>
  <%= f.text_field :location %>
</p>


  <p>
    <%= f.label :blurb %>
    <%= f.text_area :blurb, :id => 'artist_blurb', :maxlength => 100 %>
  </p>


  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>


  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <%= f.submit 'Sign up!' %>
<% end %>
