
<h1>New Doodle</h1>

<% if @doodle.errors.any? %>
  <ol>
    <% @doodle.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for(@doodle, :html => {:multipart => true}) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label "Doodle Image: " %>
    <%= f.cl_image_upload :image %>
  </p>

  <p>
      <%= f.label :caption %>
      <%= f.text_field :caption %>
  </p>

  <%= f.submit 'Submit your new doodle!' %>
<% end %>
