<!DOCTYPE html>
<html>
<head>
  <title>Doodlr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>

<div class="container">



<nav class="navbar navbar-light bg-faded">
  <% if @current_artist.present? %>
  <ul class="nav navbar-nav">

    <li class="nav-item active">
      <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
        <%= link_to 'Profile', artist_path( @current_artist.id ) %>
    </li>

    <li class="nav-item">
        <%= link_to "Edit Account", edit_artist_path(@current_artist.id) %>
    </li>

    <li class="nav-item">
      <%= link_to "Logout #{ @current_artist.email }", login_path, :method => 'delete' %>
    </li>

  <li class="nav-item">
        <%= link_to 'New Doodle', new_doodle_path %>
    </li>
    <li class="nav-item">
        <%= link_to 'All Doodles', doodles_path %>
    </li>

  </ul>
    <% else %>
      <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      <%= link_to 'Sign up', new_artist_path %>
      <%= link_to 'Sign in', login_path %>
    <% end %>
  </nav>

<%= yield %>

</div>

</body>
</html>
